.projects-container {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.projects-title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Project card layout */
.project {
  display: flex;
  flex-wrap: wrap; /* Makes it responsive */
  gap: 20px;
  margin-bottom: 40px;
  align-items: flex-start;
  background: #ddf2fc31;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(62, 143, 180, 0.368);
}

.project img {
  flex: 1 1 200px;
  max-width: 270px;
  height: 200px;
  border-radius: 10px;
}

.project-details {
  flex: 2 1 400px;
}

.project-details h3 {
  margin-top: 0;
  font-size: 1.3rem;
  color: white;
}

.project-details p {
  font-size: 0.95rem;
  color: whitesmoke;
  line-height: 1.5;
}

.project-details .tech {
  text-align: left;
  font-weight: 500;
  margin: 10px 0;
  color: #a3c9f0d6;
}

.project-details a {
  color: #590;
  text-decoration: none;
  font-weight: 500;
}

.project-details a:hover {
  text-decoration: underline;
}

.more-projects {
  font-style: italic;
  text-align: center;
  color: whitesmoke;
}

/* Responsive */
@media (max-width: 768px) {
  .project {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .project img {
    max-width: 100%;
    height: auto;
  }

  .project-details {
    flex: 1 1 100%;
  }
}
